mixin post-card(card)
    // post card
    .post__card 
        .card__cover 
            img(src=card.post.img, alt="post image", class="card__cover--img")
        a(href=card.category.link, class="card__category") 
            p.card__category--title= card.category.title 

        a(href=card.post.link, class="card__post") 
            h1.card__post--title= card.post.title 

        .card__author 
            // img
            img(src=card.author.img, alt="author image" class="card__author__img")

            a(href=card.author.link, class="card__author__link") 
                p.card__author__title= card.author.title
            p.card__author__postDate= card.post.date