mixin header-card(card)
    .header__wrapper
        .header__container 
            // header cover
            img(src=card.post.img, alt="header cover" class="header__cover header__cover--card")

            // header card
            .header__card 
                a(href=card.category.link, class="card__category") 
                    p.card__category--title= card.category.title 

                a(href=card.post.link, class="card__post") 
                    h1.card__post--title= card.post.title 

                .card__author 
                    // img
                    img(src=card.author.img, alt="author image" class="card__author__img")

                    a(href=card.author.link, class="card__author__link") 
                        p.card__author__title= card.author.title
                    p.card__author__postDate= card.post.date

mixin header-inner-card(page, card, breadcrumbs)
    .header__wrapper
        .header__container.header__container--breadcrumbs
            h1.breadcrumbs__heading= page
            ul.breadcrumbs__links
                each link in breadcrumbs
                    li 
                        a(href=link.path, class=link.active ? "breadcrumbs__link breadcrumbs__link--active" : "breadcrumbs__link")= link.title
        .header__container.header__container--inner 
            // header cover
            img(src=card.post.img, alt="header cover" class="header__cover header__cover--inner")

            // header card
            .header__card.header__card--inner
                a(href=card.category.link, class="card__category") 
                    p.card__category--title= card.category.title 

                a(href=card.post.link, class="card__post") 
                    h1.card__post--title= card.post.title 

                .card__author 
                    // img
                    img(src=card.author.img, alt="author image" class="card__author__img")

                    a(href=card.author.link, class="card__author__link") 
                        p.card__author__title= card.author.title
                    p.card__author__postDate= card.post.date

mixin header-author(author)
    .header__wrapper
        .header__container.header__container--author 
            // header card
            .header__card--author
                .card__upper
                    // img
                    img(src=author.img, alt="author image" class="card__author__img")
                    .upper__content
                        p.card__author__title= author.title
                        p.card__author__job=   author.job
                p.card__author__desc= author.description
                ul.card__author__socials
                    each social in author.social
                        li 
                            a(href=social.link, class="social__link")
                                i(class=social.icon)

mixin header-post(card)
    .header__wrapper
        .header__container.header__container--post-single
            // header card
            .header__card 
                a(href=card.category.link, class="card__category") 
                    p.card__category--title= card.category.title 

                a(href=card.post.link, class="card__post") 
                    h1.card__post--title= card.post.title 

                .card__author 
                    // img
                    img(src=card.author.img, alt="author image" class="card__author__img")

                    a(href=card.author.link, class="card__author__link") 
                        p.card__author__title= card.author.title
                    p.card__author__postDate= card.post.date
            // header cover
            img(src=card.post.img, alt="header cover" class="header__cover header__cover--card")